@page
@using SailClubLibrary.Models
@model RazorBoatApp2026.Pages.Boats.IndexModel
@{
	ViewData["Title"] = "List boats";
}

<h1>List of boats</h1>

<form method="get" class="mb-4">
	<div class="input-group">
		<input type="text"
			   asp-for="@Model.FilterCriteria"
			   class="form-control"
			   placeholder="Search boat..."
			   aria-label="Search"
			   aria-describedby="search-addon" />
		@if (!string.IsNullOrEmpty(Model.FilterCriteria))
		{
			<a asp-page="./Index" class="btn btn-outline-secondary"><i class="bi bi-x"></i></a>
		}
		<button class="btn btn-primary" type="submit" id="button-filter">
			<i class="bi bi-search"></i>
		</button>
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<form method="get">
				<input type="hidden" name="SortDescending" id="SortDescending" value="@Model.SortDescending.ToString().ToLower()" />
				<input type="hidden" asp-for="@Model.FilterCriteria" />
			<th>
				<button type="submit" name="SortBy" value="Id"
						onclick="document.getElementById('SortDescending').value = ('@Model.SortBy' == 'Id') ? '@((!Model.SortDescending).ToString().ToLower())' : 'false';"
						class="btn p-0 text-reset fw-bold border-0 shadow-none">
					Id
					<i class="bi @Model.GetSortIcon("Id")"></i>
				</button>
			</th>
			<th>
				<button type="submit" name="SortBy" value="BoatType"
						onclick="document.getElementById('SortDescending').value = ('@Model.SortBy' == 'BoatType') ? '@((!Model.SortDescending).ToString().ToLower())' : 'false';"
						class="btn p-0 text-reset fw-bold border-0 shadow-none">
					BoatType
					<i class="bi @Model.GetSortIcon("BoatType")"></i>
				</button>
			</th>
			<th>
				<button type="submit" name="SortBy" value="Model"
						onclick="document.getElementById('SortDescending').value = ('@Model.SortBy' == 'Model') ? '@((!Model.SortDescending).ToString().ToLower())' : 'false';"
						class="btn p-0 text-reset fw-bold border-0 shadow-none">
					Model
					<i class="bi @Model.GetSortIcon("Model")"></i>
				</button>
			</th>
			<th>
				<button type="submit" name="SortBy" value="SailNumber"
						onclick="document.getElementById('SortDescending').value = ('@Model.SortBy' == 'SailNumber') ? '@((!Model.SortDescending).ToString().ToLower())' : 'false';"
						class="btn p-0 text-reset fw-bold border-0 shadow-none">
					SailNumber
					<i class="bi @Model.GetSortIcon("SailNumber")"></i>
				</button>
			</th>
			<th>
				<button type="submit" name="SortBy" value="YearOfConstruction"
						onclick="document.getElementById('SortDescending').value = ('@Model.SortBy' == 'YearOfConstruction') ? '@((!Model.SortDescending).ToString().ToLower())' : 'false';"
						class="btn p-0 text-reset fw-bold border-0 shadow-none">
					YearOfConstruction
					<i class="bi @Model.GetSortIcon("YearOfConstruction")"></i>
				</button>
			</th>
			<th style="width: 1%" class="text-center">Edit</th>
			<th style="width: 1%" class="text-center">Delete</th>
			</form>
		</tr>
	</thead>
	<tbody>
		@foreach(Boat boat in Model.Boats)
		{
			<tr>
				<td>@boat.Id</td>
				<td>@boat.TheBoatType</td>
				<td>@boat.Model</td>
				<td>@boat.SailNumber</td>
				<td>@boat.YearOfConstruction</td>
				<td class="text-nowrap">
					<a asp-page="/Boats/EditBoat" asp-route-sailNumber="@boat.SailNumber" class="btn btn-outline-secondary btn-sm">
						<i class="bi bi-pencil-square"></i> Edit
					</a>
				</td>
				<td class="text-nowrap">
					<form method="post" asp-page-handler="Delete" asp-route-sailNumber="@boat.SailNumber">
						<button type="submit" class="btn btn-danger btn-sm">
							<i class="bi bi-trash"></i>
						</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

<a asp-page="createboat" class="btn btn-success btn-sm"><i class="bi bi-plus-circle-dotted"></i>  Add boat</a>
