@page
@using SailClubLibrary.Models
@model RazorBoatApp2026.Pages.Boats.IndexModel
@{
	ViewData["Title"] = "List boats";
}

<h1>List of boats</h1>

<a asp-page="createboat" class="btn btn-success btn-sm">Add boat</a>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>BoatType</th>
			<th>Model</th>
			<th>SailNumber</th>
			<th>YearOfConstruction</th>
			<th style ="width: 1%" class="text-center">Edit</th>
		</tr>
	</thead>
	<tbody>
		@foreach(Boat boat in Model.Boats)
		{
			<tr>
				<td>@boat.Id</td>
				<td>@boat.TheBoatType</td>
				<td>@boat.Model</td>
				<td>@boat.SailNumber</td>
				<td>@boat.YearOfConstruction</td>
				<td class="text-nowrap">
					<a asp-page="/Boats/EditBoat" asp-route-sailNumber="@boat.SailNumber" class="btn btn-outline-secondary btn-sm">
						<i class="bi bi-pencil-square"></i> Edit
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
