@page
@using SailClubLibrary.Models
@model RazorBoatApp2026.Pages.Members.IndexModel
@{
	ViewData["Title"] = "List members";
}

<h1>List of members</h1>

<form method="get" class="mb-4">
	<div class="input-group">
		<input type="text"
			   asp-for="@Model.FilterCriteria"
			   class="form-control"
			   placeholder="Search member..."
			   aria-label="Search"
			   aria-describedby="search-addon" />
		@if (!string.IsNullOrEmpty(Model.FilterCriteria))
		{
			<a asp-page="./Index" class="btn btn-outline-secondary"><i class="bi bi-x"></i></a>
		}
		<button class="btn btn-primary" type="submit" id="button-filter">
			<i class="bi bi-search"></i>
		</button>
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<form method="get">
				<input type="hidden" name="SortDescending" id="SortDescending" value="@Model.SortDescending.ToString().ToLower()" />
				<input type="hidden" asp-for="@Model.FilterCriteria" />
			<th>
				<button type="submit" name="SortBy" value="Id"
						onclick="document.getElementById('SortDescending').value = ('@Model.SortBy' == 'Id') ? '@((!Model.SortDescending).ToString().ToLower())' : 'false';"
						class="btn p-0 text-reset fw-bold border-0 shadow-none">
					Id
					<i class="bi @Model.GetSortIcon("Id")"></i>
				</button>
			</th>
			<th>
				<button type="submit" name="SortBy" value="Name"
						onclick="document.getElementById('SortDescending').value = ('@Model.SortBy' == 'Name') ? '@((!Model.SortDescending).ToString().ToLower())' : 'false';"
						class="btn p-0 text-reset fw-bold border-0 shadow-none">
					Name
					<i class="bi @Model.GetSortIcon("Name")"></i>
				</button>
			</th>
			<th>
				<button type="submit" name="SortBy" value="Address"
						onclick="document.getElementById('SortDescending').value = ('@Model.SortBy' == 'Address') ? '@((!Model.SortDescending).ToString().ToLower())' : 'false';"
						class="btn p-0 text-reset fw-bold border-0 shadow-none">
					Address
					<i class="bi @Model.GetSortIcon("Address")"></i>
				</button>
			</th>
			<th>
				<button type="submit" name="SortBy" value="Phone"
						onclick="document.getElementById('SortDescending').value = ('@Model.SortBy' == 'Phone') ? '@((!Model.SortDescending).ToString().ToLower())' : 'false';"
						class="btn p-0 text-reset fw-bold border-0 shadow-none">
					Phone
					<i class="bi @Model.GetSortIcon("Phone")"></i>
				</button>
			</th>
			<th>
				<button type="submit" name="SortBy" value="Mail"
						onclick="document.getElementById('SortDescending').value = ('@Model.SortBy' == 'Mail') ? '@((!Model.SortDescending).ToString().ToLower())' : 'false';"
						class="btn p-0 text-reset fw-bold border-0 shadow-none">
					Mail
					<i class="bi @Model.GetSortIcon("Mail")"></i>
				</button>
			</th>
			<th style="width: 1%" class="text-center">Edit</th>
			<th style="width: 1%" class="text-center">Delete</th>
			</form>
		</tr>
	</thead>
	<tbody>
		@foreach (Member member in Model.Members)
		{
			<tr>
				<td>@member.Id</td>
				<td>@member.FirstName @member.SurName</td>
				<td>@member.Address, @member.City</td>
				<td>@member.PhoneNumber</td>
				<td>@member.Mail</td>
				<td class="text-nowrap">
					<a asp-page="/Members/EditMember" asp-route-phoneNumber="@member.PhoneNumber" class="btn btn-outline-secondary btn-sm">
						<i class="bi bi-pencil-square"></i> Edit
					</a>
				</td>
				<td class="text-nowrap">
					<form method="post" asp-page-handler="Delete" asp-route-phoneNumber="@member.PhoneNumber">
						<button type="submit" class="btn btn-danger btn-sm">
							<i class="bi bi-trash"></i>
						</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

<a asp-page="createmember" class="btn btn-success btn-sm"><i class="bi bi-plus-circle-dotted"></i>  Add member</a>
